.product_container {
    height: 800px;
}
.balance {
    opacity: 60%;
    font-size: 0.8rem;
}
.product_image {
    display: flex;
    justify-content: center;
    border: 1px solid rgba(239, 239, 239, 1);
    border-radius: 15px;
    width: 290px;
    margin: 5px 0;
}
.product_description {
    width: 290px;
}
.product_select {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 700;
}
.footer {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.shop_btn {
    background-color: var(--pink);
    border: none;
    border-radius: 10px;
    color: white;
    height: 50px;
    padding: 15px 40px;
}
.shop_btn:active {
    opacity: 60%;
}
.footer div {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 2.1rem;
    font-weight: 700;
    color: #f4a100;
}
.select_wrapper {
    display: flex;
    width: 50px;
    max-width: 150px;
    position: relative;
    height: 22px;
    color: #444;
    background: #ececf9;
    border: none;
    border-radius: 5px;
    align-items: center;
    padding: 5px 6px;
}
