.bg {
    background-image: url('../../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}
.submit_btn {
    background-color: var(--light-violet);
    border: none;
    border-radius: 10px;
    width: 186px;
    height: 44px;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    margin-top: 14px;
    margin-bottom: 8px;
}
.submit_btn:hover {
    background-color: var(--violet);
    align-items: center;
}
.submit_btn:disabled {
    background-color: var(--violet);
    cursor: no-drop;
}
.form_wrapper {
    display: block;
}

.form_wrapper h1 {
    margin: 64px 0 36px 0;
}
.form_wrapper form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.mascot_container {
    display: flex;
    padding-right: 18px;
}
.form_error {
    color: var(--red);
    font-weight: 500;
}
.link {
    margin-bottom: 14px;
}
.link a {
    font-weight: 700;
    color: var(--light-violet);
    margin-left: 4px;
}
