.option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    padding: 10px 5px;
    cursor: pointer;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 1);
    color: var(--violet);
}

.option[aria-selected='true'] {
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--blue);
}
.option:hover {
    color: var(--blue);
}
