.selectWrapper {
    position: relative;
    border-radius: 12px;
    /* margin-top: 5px; */
}

.arrow {
    margin-left: 4px;
    top: 50%;
    transition: transform 0.2s ease-in-out, margin-top 0.2s ease-in-out;
}

.placeholder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    padding: 3px 6px;
    cursor: pointer;
    border: 1px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    /* font-size: 14px; */
    /* line-height: 20px; */
    color: var(--blue);
    background: #ececf9;
    box-sizing: border-box;
    /* min-width: 42px;*/
    max-width: 300px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.placeholder[data-status='default'] {
    border: none;
}

.placeholder[data-selected='true'] {
    color: var(--blue);
}

.selectWrapper[data-is-active='true'] .arrow {
    transform: rotate(180deg);
    margin-top: -6px;
}

.selectWrapper[data-is-active='true'] .placeholder {
    border: none;
}

.selectWrapper:not([data-is-active='true'])
    .placeholder:not([data-status='invalid']):hover {
    border: none;
}

.select {
    display: grid;
    position: absolute;
    list-style: none;
    /* width: 43px; */
    max-width: 300px;
    max-height: 100px;
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: var(--blue);
    overflow-y: scroll;
    overflow-x: hidden;
}

.selectWrapper[data-mode='cells'] .select {
    grid-template-columns: repeat(3, 1fr);
}

.selectWrapper[data-mode='cells'] .option {
    justify-content: center;
}
