.task_container {
    text-align: left;
    margin-top: 20px;
}
.task_description {
}
.score {
    display: flex;
    gap: 8px;
    margin: 24px 0;
    align-items: center;
}
.score > p {
    opacity: 40%;
    font-size: 0.8rem;
}
.note {
    opacity: 40%;
    font-size: 0.8rem;
    margin: 10px 0 20px 0;
}
