.bg {
    /* min-width: 320px;
    max-width: 390px; */
    min-height: 100vh;
    background-color: var(--bg-auth);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    margin: auto;
}
.bg_unauth {
    background-image: url('../../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.desktop {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
