.modal {
    height: 100vh;
    width: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: end;
    overflow-y: scroll;
    padding: 20px;
}
.modal > img {
    cursor: pointer;
}
.modal_content {
    padding: 15px;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
}
