:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 12px;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    --border-color: #bebebe;
    --violet: #26326f;
    --main-blue: #021d49;
    --light-violet: #7b54ff;
    --red: #ff003d;
    --blue: #29afe8;
    font-synthesis: none;
}

a {
    font-weight: 500;
    text-decoration: inherit;
    color: var(--blue);
    cursor: pointer;
}
a:hover {
    color: var(--main-blue);
}

body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 2rem;
    color: var(--main-blue);
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 1.6rem;
    color: var(--violet);
}
p {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
